@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oldenburg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Nunito", sans-serif;
}

.textured-text {
  font-size: 80px; /* Adjust font size */
  font-weight: bold; /* Make it bold for better effect */

  /* Make text transparent so background shows */
  color: transparent;

  /* Clip the background to text */
  -webkit-background-clip: text;
  background-clip: text;

  /* Set background image */
  background-image: url("texture1.jpeg"); /* Path to your image */
  background-size: cover; /* Make the image cover text */
  background-position: center; /* Center the texture */

  /* Optional: Add some shadow for depth */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Tablet */
@media (max-width: 1024px) {
  .textured-text {
    font-size: 56px;
  }
}

/* Small tablets / large mobiles */
@media (max-width: 768px) {
  .textured-text {
    font-size: 45px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .textured-text {
    font-size: 36px;
  }
}
